@import 'variables';

.bloc_header {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    background-color: $colorGrey;    
    }
    
    .banner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-inline: 1%;
    }

    .banner_logo {
        padding-top: 1%;
    }
        
    .banner_menu {
        display: flex;   
        flex-flow: column wrap;
    }
        .banner_title { 
        font-weight: bold;
        color: black;
        }
        .banner_buttons {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
            .banner_button {
                font-size: small;
                font-weight: bold;
            }
.bloc_navbar {
        background-color: $colorBlue;
    }

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-top: 1%;    
    }

    .nav_searchbar {
        display: flex;
        
        
    }
        .categorie {
            background-color: #e5e5e5;
            border-radius: 3px;
            color: white;
            padding: 5%;
            margin: 2%;
            
        }
        .submit_searchbar {
            background-color: $colorRed;
            color: white;
            border-radius: 3px;
            padding: 5%;
            margin: 2%;
            
        }
.nav_buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        color: white;        
    }
    p {
        padding-inline: 1%;
    }
