<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <title>Prixbas</title>
</head>
<body class="home__body">
    <%= require('html-loader!./htmlComponents/header.html').default %>
    <main class="home__main">
        <div class="home__bestSale">
            <h3>Meilleures ventes</h3>  
            <div class="home__bestStaleCarroussel">
                <div class="home__bestSaleBut">
                    <a href="">
                        <i class="fa-solid fa-caret-left"></i> 
                    </a>               
                </div>
                <div class="home__tileProducts">
                    <div class="home__tileProduct">
                        <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Marteau">
                        <p class="home__tileProduct__name">Marteau</p>
                        <p class="home__tileProduct__price"><span class="home__tileProduct__price">1€</span><span class="home__tileProduct__stock">En stock</span></p>
                    </div>
                    <div class="home__tileProduct">
                        <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Marteau">
                        <p class="home__tileProduct__name">Marteau</p>
                        <p class="home__tileProduct__price"><span class="home__tileProduct__price">1€</span><span class="home__tileProduct__stock">En stock</span></p>
                    </div>
                    <div class="home__tileProduct">
                        <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Marteau">
                        <p class="home__tileProduct__name">Marteau</p>
                        <p class="home__tileProduct__price"><span class="home__tileProduct__price">1€</span><span class="home__tileProduct__stock">En stock</span></p>
                    </div>
                    <div class="home__tileProduct">
                        <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Marteau">
                        <p class="home__tileProduct__name">Marteau</p>
                        <p class="home__tileProduct__price"><span class="home__tileProduct__price">1€</span><span class="home__tileProduct__stock">En stock</span></p>
                    </div>
                </div>
                <div class="home__bestSaleBut">
                    <a href="">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>                               
                </div>
            </div>            
        </div>
        <div class="home__categories">
            <h3>Découvrez nos offres par catégories <a href="">Voir tout</a></h3>
            <div class="home__gridCategories">
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-regular fa-lightbulb"></i>
                    <p>Multimedia</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-utensils"></i>
                    <p>Cuisine</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
                <div class="home_tileCategorie">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <p>Bricolage</p>
                </div>
            </div>
        </div>
        <div class="home__choice">
            <h3>Avoir le choix chez Prix Marché</h3>
            <div class="home__choicesGrid">
                <div class="home__tileChoice">
                    <img src="./assets/victoria-kubiaki-t0Aio60jD4Q-unsplash.jpg" alt="Livraison">
                    <p>Je choisi</p>
                </div>
                <div class="home__tileChoice">
                    <img src="./assets/wynand-van-poortvliet-kWUZKKBR2Ag-unsplash.jpg" alt="Livraison">
                    <p>Je choisi</p>
                </div>
                <div class="home__tileChoice">
                    <img src="./assets/rosebox-BFdSCxmqvYc-unsplash.jpg" alt="Livraison">
                    <p>Je choisi</p>
                </div>
            </div>
        </div>
    </main>
    <%= require('html-loader!./htmlComponents/footer.html').default %>
</body>
</html>