<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">           
    <title>Document</title>
</head>
<body>
    <%= require('html-loader!./htmlComponents/header.html').default %>
    <div class="product_bloc-product">
        <div class="product_show-product">
            <div class="product_show-product-details">
                <div class="product_show-picture">
                    <img class="product_main-picture" src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Image d'un marteau">
                </div>
                <div class="product_show-product-details-elements">
                    <p class="product_detail">Marteau</p>
                    <p class="product_detail">1€</p>
                    <p class="product_show-product-details-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat natus culpa architecto inventore iure, saepe nostrum praesentium? Porro, voluptatem maxime!</p>
                    <div class="product_show-product-details-shop">
                            <p class="product_bouton_plus-moins">- | 2 | +</p>
                            <p class="product_bouton_ajouter">Ajouter au panier</p>
                            <p><i class="fa-regular fa-heart fa-xl"></i></p>
                    </div>
                </div>
            </div>
            <div class="product_show-product-images">
                <img class="product_picture" src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Image d'un marteau">
                <img class="product_picture" src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="Image d'un marteau">
            </div>

        </div>
    </div>
    <%= require('html-loader!./htmlComponents/footer.html').default %>
</body>
</html>