<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <title>Products</title>
    <link rel="stylesheet" href="/src/styles/products.scss">
</head>
<body>

    <%= require('html-loader!./htmlComponents/footer.html').default %>
    
    <div class="products__body">
        <div class="products__section--top">
        
            <div class="products__category">
                <nav> 
                    <div class="products__icons">
                        <i class="fa-sharp fa-solid fa-list products__icone1"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone products__red"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                        <i class="fa-sharp fa-solid fa-circle fa-2xs products__icone"></i>
                    </div>
    
                    <div class="products__category--title">
                        <h3>Catégories</h3>
                        <a href=""><span class="products__red">Tout</span></a>
                        <a href="">Bricolage</a>
                        <a href="">Outillage</a>
                        <a href="">Multimédia</a>
                        <a href="">Cuisine</a>
                        <a href="">Entretien</a>
                        <a href="">Bricolage</a>
                        <a href="">Outillage</a>
                        <a href="">Multimédia</a>
                        <a href="">Cuisine</a>
                        <a href="">Entretien</a>
                    </div>
                </nav>
            </div>
    
            <div class="products__product">
                <div class="products__affichage">
                    <p>Affichage : <i class="fa-sharp fa-solid fa-table-columns"></i>  <i class="fa-sharp fa-solid fa-table-cells-large"></i></p>
                    <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="bureau">
                </div>
    
                <div class="products__prix--top">
                    <h5>Marteau</h5>
                    1€ <br> <span class="products__green">En stock</span>
                </div>
            </div>
    
            <div class="products__resultats">
                <p>Triez les résultats  <i class="fa-solid fa-chevron-down"></i></p>
            </div>
    
        </div>
    
    
    
        <div class="products__section--bottom">
            
            <div class="products__prix--bottom">
                <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="bureau">
                <h5>Marteau</h5>
                <div class="products__prix1">
                    1€
                    <span class="products__green">En stock</span>
                </div>
            </div>
    
            <div class="products__prix--bottom">
                <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="bureau">
                <h5>Marteau</h5>
                <div class="products__prix1">
                    1€
                    <span class="products__green">En stock</span>
                </div>
            </div>
    
            <div class="products__prix--bottom">
                <img src="./assets/bench-accounting-MGaFENpDCsw-unsplash.jpg" alt="bureau">
                <h5>Marteau</h5>
                <div class="products__prix1">
                    1€
                    <span class="products__green">En stock</span>
                </div>
            </div>
        </div>
    </div>

    
    <%= require('html-loader!./htmlComponents/footer.html').default %>

</body>
</html>